<div id="content">
    <div class="main-container col1-layout">
        <div class="container">
            <div class="row">
                {{#each this.details}}
                    <div class="col-sm-6">
                        <h4 class="mt-5">Hình sản phẩm</h4>
                        <div class="details-item">
                           
                            <div class="details-item-header mt-5">
                                <img src="/product/{{HinhURL}}" title="{{TenSanPham}}" alt="{{TenSanPham}}">
                            </div>
                            <div class="details-item-body">
                                <br>
                                <strong class="single-item-title text-success"><p>{{TenSanPham}}</p> </strong>
                                <p class="single-item-price">
                                    <span class="flash-sale">{{GiaSanPham}} vnđ</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sx-6">
                        <div class="short-description">
                            <h4 class="mb-4 mt-5">Chi tiết sản phẩm</h4>
                            <div> <strong>Mô tả: </strong>
                                 {{{MoTa}}}</div>
                            <div><strong>Xuất xứ: </strong>{{XuatXu}}</div>
                            <div><strong>Hãng sản xuất: </strong>{{NhaSanXuat}}</div>
                            <div><strong>Số lược xem: </strong>{{SoLuongXem}}</div>
                            <div><strong>Số lược bán: </strong>{{SoLuongBan}}</div>
                            <div><strong>Ngày nhập: </strong>{{ format_DOB NgayNhap}}</div>
                        </div>
                        
                        <hr class="hr">
                        <div class="col-8">
                            <div class="product-variation">
                                <form action="/gio-hang" method="get">
                    
                                    <label for="qty">Nhập số lượng: </label>
                                    <div class="form-group-row">
                                        <input type="text" class="qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                                        <button class="btn btn-outline-warning" type="button"
                                            onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty>1) result.value--;return false;"><i
                                                class="fa fa-minus">&nbsp;</i></button>
                                        <button class="btn btn-outline-secondary" type="button"
                                            onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;"><i
                                                class="fa fa-plus">&nbsp;</i></button>
                                        <button class="btn btn-outline-success" title="Add to Cart" type="submit" data-id="105">
                    
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giở hàng
                                        </button>
                                    </div>
                    
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
               
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12 col-sx-8 col-sm-12">
            <div class="comment">
                <h4>Phần bình luận</h4>
                <div class="container">
                    <div class="row" style="margin-top:40px;">
                        <div class="col-md-6">
                            <div class="well well-sm">
                                <div class="text-right">
                                    <a class="btn btn-success btn-green" href="#reviews-anchor"
                                        id="open-review-box">Hiển thị chức năng bình luận</a>
                                </div>

                                <div class="row" id="post-review-box" style="display:none;">
                                    <div class="col-md-12">
                                        <form accept-charset="UTF-8" action="" method="post">
                                            <input id="ratings-hidden" name="rating" type="hidden">
                                            <textarea class="form-control animated" cols="50" id="new-review"
                                                name="comment" placeholder="Enter your review here..."
                                                rows="5"></textarea>

                                            <div class="text-right">
                                                <div class="stars starrr" data-rating="0"></div>
                                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box"
                                                    style="display:none; margin-right: 10px;">
                                                    <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--5 Sản phẩm cùng loại-->
    <div class="product_type">
        <div class="container">
            <div class="col-sm-12">
                <div class="beta-products-list">
                    <hr class="hr-product-type">
                    <h4>Sản phẩm cùng loại</h4>
                    <hr>
                   
                    <!--5 sản phẩm -->
                    <div class="row">
                        {{#each sameProduct}}
                            <div class="col-sm-3">
                                <div class="item">
                                    <div class="item-header">
                                        <a href="/san-pham/chi-tiet/{{MaLoaiSanPham}}/{{MaSanPham}}"><img
                                                src="/product/{{HinhURL}}" alt=""></a>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="item-title">{{TenSanPham}}</p>
                                        <p class="item-price">
                                            <span>{{GiaSanPham}} vnđ</span>
                                        </p>
                                    </div>
                                    <div class="single-item-caption detail detail">
                            
                                        <a class="beta-btn primary" href="/san-pham/chi-tiet/{{MaLoaiSanPham}}/{{MaSanPham}}">Chi tiết sản phẩm </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>